<form method="post" action="news">
    <div class="mb-4">
        <label for="form-search" class="form-label">Album</label>
        <input name="keyword" type="text" class="form-control" id="form-search" placeholder="Search...">
    </div>
    <select name="form-song-quantities" class="form-select" aria-label="Default select example">
        <option selected>Song quantities</option>
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
    </select>
    <div class="mb-3">
        <label for="form-comment" class="form-label">Comment</label>
        <textarea class="form-control" id="form-comment" rows="3" name="comment"></textarea>
    </div>
    <button type="submit">Search</button>
</form>